<% provide(:title, 'О проекте') %>

	<h1>О проекте</h1>
	<p>
		Перед вами веб-приложение, являющееся неким клоном известного портала <a href="https://twitter.com/">Twitter</a>. Для получения доступа к функционалу приложения необходимо <a href="/signup">зарегистрироваться</a> или <a href="/signin">войти</a>.
	</p>
