<% provide(:title, 'About Us') %>

	<h1>About Us</h1>
	<p>
		<a href="http://railstutorial.ru/">Ruby on Rails Tutorial</a>
		это туториал по созданию веб-приложений на Ruby on Rails. Перед Вами приложение, разработанное на основе этого тутора.
	</p>
